<div class="container py-3">
  <div class="card w-50 mb-3">
    <div class="card-body">
      <h6 class="card-subtitle">Welcome to</h6>
      <h5 class="card-title">The Stupid Coach</h5>
    </div>
  </div>
  <div class="card w-50 mb-3">
    <div class="card-body">
      <h5 class="card-title">Ask The Coach a Question</h5>
      <form action="/answer" class="form-floating">
        <input type="text" id="question" name="question" class="form-control mb-3" placeholder="Your question">
        <label for="question">Your question</label>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
